:root {
  /* color */
  --black: #000;
  --yellow-brown: #c6923e;
  --yellow-brown-2: #b97f21;
  --white: #ffffff;
  --red: #d3313a;
  --red-2: #ee1b24;
  --light-red: #fcd0d2;
  --green: #20b92f;
  --light-green: #d7f8da;
  --light-black: #303030;
  --light-black-2: #3f3f3f;
  --beige: #f9f6f0;
  --gray: #646464;
  --gray-2: #888888;
  --gray-3: #dfdfdf;
  --gray-4: #999999;

  /* dimension */
  --header-height: 100px;
  --border-radius-md: 3px;
  --border-radius-lg: 5px;
  --border-radius-xl: 5px;
  --border-radius-xxl: 20px;
  --border-radius-circle: 300px;
}

/* START KEYFRAMES */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* END KEYFRAMES */

.text-red {
  color: var(--red);
  font-weight: bolder;
}

.text-yellow-brown {
  color: var(--yellow-brown);
  font-weight: bolder;
}

.button {
  display: block;

  background-color: var(--yellow-brown);
  color: var(--white);

  width: fit-content;

  transition: all ease 0.5s;
}

.button:hover {
  color: var(--white);
  background-color: var(--yellow-brown-2);
}

.button-md {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: var(--border-radius-md);
}

.button-lg {
  font-size: 18px;
  padding: 17px 45px;
  border-radius: var(--border-radius-lg);
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container .title-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title-container.title-lg .title-text {
  gap: 10px;
}

.title-container.title-lg .title-text .title {
  font-size: 56px;
  font-weight: 900;
}

.title-container.title-lg .title-text .desc {
  font-size: 18px;
  font-weight: 400;
}

.title-container.title-md .title-text {
  gap: 6px;
}

.title-container.title-md .title-text .title {
  font-size: 36px;
  font-weight: bold;
  line-height: 64px;
}

.title-container.title-md .title-text .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.title-container.center .title-text {
  align-items: center;
}

.title-container.center .title-text * {
  text-align: center;
}

.title-container.horizontal {
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;

  width: 100%;
}

.separate-line {
  width: fit-content;
  height: 65px;

  margin: 70px 0 30px;
}

.separate-line img {
  width: auto;
  height: 100%;
}

/* START HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;

  background-color: var(--white);
}

#header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-content .logo {
  display: block;
  max-width: 287px;
  width: 100%;
}

#header .header-content .logo img {
  width: 100%;
}

#header .header-content .header-nav {
  display: flex;
  align-items: center;
  gap: 70px;

  padding: 10px;

  transition: all ease 0.5s;
}

#header .header-content .header-nav .header-nav-link {
  font-weight: 500;
}

#header .header-content .header-nav.mobile {
  display: none;
}

#header .header-content .header-nav-button {
  display: none;
}

#header .header-content .header-nav .header-button-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

#header .header-content .header-nav .header-button-container .search-button {
  position: relative;
  cursor: pointer;
}

#header
  .header-content
  .header-nav
  .header-button-container
  .search-button.active
  input {
  width: 160px;
  opacity: 1;
}

#header
  .header-content
  .header-nav
  .header-button-container
  .search-button
  input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray-3);

  padding: 5px 0;

  max-width: 160px;
  width: 0px;

  opacity: 0;

  transition: all ease 0.5s;
}

#header
  .header-content
  .header-nav
  .header-button-container
  .search-button
  .icon {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}

/* END HEADER */

/* START CONTENT */

main {
  margin-top: var(--header-height);
}

/* start banner */

#banner .banner-img,
#banner .banner-img img {
  width: 100%;
}

/* end banner */
/* END CONTENT */

/* START FOOTER */
#footer {
  margin-top: 87px;
  padding: 95px 0 80px;

  background: url("../images/footer/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#footer * {
  color: var(--white);
}

#footer .footer-information {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

#footer .footer-link {
  padding-top: 23px;
  padding-left: 30px;
}

#footer .footer-link.social {
  padding-left: 70px;
}

#footer .footer-link.social .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#footer .footer-title-wrapper .title {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: fit-content;
}

#footer .footer-title-wrapper .list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer .footer-title-wrapper .list-group .list {
  width: fit-content;
}

#footer .footer-title-wrapper .list .item {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  margin-bottom: 10px;
}

#footer .footer-title-wrapper .list .item .text {
  width: fit-content;
}

#footer .footer-information .footer-title-wrapper .list .item a {
  text-decoration: underline;
}

#footer .footer-information .footer-title-wrapper .title {
  letter-spacing: unset;
}

#footer .footer-information .footer-title-wrapper {
  gap: 13px;
}

#footer .footer-copyright {
  padding-top: 50px;
  margin-top: 50px;

  border-top: 1px solid var(--light-black-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer-copyright .text {
  font-size: 16px;
  font-weight: 300;
  line-height: light;
}
/* END FOOTER */
